@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sanchez:ital@0;1&display=swap');
@import "tailwindcss";
@layer base{
  .heading{
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .text{
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
  }
}